<h1 id="maxmind-geoip-php-api">MaxMind GeoIP PHP API</h1>
<h2 id="requirements">Requirements</h2>
<p>This module has no external dependencies. You only need a MaxMind GeoIP
database. To download a free GeoIP Standard Country database, please see
our <a href="http://dev.maxmind.com/geoip/geolite">GeoLite page</a>.</p>
<h2 id="installing-with-composer">Installing with Composer</h2>
<h3 id="define-your-dependencies">Define Your Dependencies</h3>
<p>We recommend installing this package with <a href="http://getcomposer.org/">Composer</a>.
To do this, add <code>geoip/geoip</code> to your <code>composer.json</code> file.</p>
<pre><code class="lang-json">{
    &quot;require&quot;: {
        &quot;geoip/geoip&quot;: &quot;~1.14&quot;
    }
}</code></pre>
<h3 id="install-composer">Install Composer</h3>
<p>Run in your project root:</p>
<pre><code>curl -s http://getcomposer.org/installer | php</code></pre>
<h3 id="install-dependencies">Install Dependencies</h3>
<p>Run in your project root:</p>
<pre><code>php composer.phar install</code></pre>
<h3 id="require-autoloader">Require Autoloader</h3>
<p>You can autoload all dependencies by adding this to your code:</p>
<pre><code>require &#39;vendor/autoload.php&#39;;</code></pre>
<h2 id="installing-without-composer">Installing without Composer</h2>
<p>Place the &#39;geoip.inc&#39; file in the <code>include_path</code> as specified in your
<code>php.ini</code> file or place it in the same directory as your PHP scripts.</p>
<h2 id="usage">Usage</h2>
<p>Gets country name by hostname :</p>
<pre><code class="lang-php">&lt;?php

require &#39;vendor/autoload.php&#39;;

$gi = geoip_open(&quot;/usr/local/share/GeoIP/GeoIP.dat&quot;,GEOIP_STANDARD);

echo geoip_country_code_by_addr($gi, &quot;24.24.24.24&quot;) . &quot;\t&quot; .
     geoip_country_name_by_addr($gi, &quot;24.24.24.24&quot;) . &quot;\n&quot;;
echo geoip_country_code_by_addr($gi, &quot;80.24.24.24&quot;) . &quot;\t&quot; .
     geoip_country_name_by_addr($gi, &quot;80.24.24.24&quot;) . &quot;\n&quot;;

geoip_close($gi);</code></pre>
<h2 id="memory-caching">Memory Caching</h2>
<p>To enable memory caching, pass <code>GEOIP_SHARED_MEMORY</code> or <code>GEOIP_MEMORY_CACHE</code>
as the second argument of <code>geoip_open</code>.</p>
<p><code>GEOIP_SHARED_MEMORY</code> requires php &gt;= 4.0.4 compiled with <code>--enable-shmop</code>
configure time.  See (<a href="http://us2.php.net/manual/en/ref.shmop.php">http://us2.php.net/manual/en/ref.shmop.php</a>).
In addition, you should call <code>geoip_load_shared_mem</code> before calling
<code>geoip_open</code>.  See <code>sample_city.php</code> for an example of shared memory caching.</p>
<h2 id="support">Support</h2>
<p>For help with this API or our databases, please see [our support page]
(<a href="http://www.maxmind.com/en/support">http://www.maxmind.com/en/support</a>).</p>
<h2 id="copyright-and-license">Copyright and License</h2>
<p>This software is Copyright (c) 2013 by MaxMind, Inc.</p>
<p>This is free software, licensed under the GNU Lesser General Public License
version 2.1 or later.</p>
<h2 id="thanks">Thanks</h2>
<p>Thanks to Jim Winstead.</p>
