
body {
background: #FFFFFF;
color:#000000;
font-family:Verdana,"BitStream vera Sans",Helvetica,Sans-serif;
font-size:12px;
width: 1080px;
}

body.volonters {
background: #99CCFF;
color:#000000;
font-family:Verdana,"BitStream vera Sans",Helvetica,Sans-serif;
font-size:12px;
width: 1080px;
}

#header {
 width: 1080px;   
 background-color: #FF9933;
 border-bottom: 5px solid #000000;
 -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, .1);
 border-top: 5px solid #000000;
}

#header.volonters {
 width: 1080px;   
 background-color: #0066CC;
 border-bottom: 5px solid #000000;
 -webkit-box-shadow: 0 5px 0 rgba(0, 0, 0, .1);
 border-top: 5px solid #000000; 
}

footer {
background-color: #FF9933;
position:relative;
clear:both;
border-top: 5px solid #313131;
-webkit-box-shadow: 0 -5px 0 rgba(0, 0, 0, .1);
width: 1080px;
}

footer.volonters {
background-color: #0066CC;
position:relative;
clear:both;
border-top: 5px solid #313131;
-webkit-box-shadow: 0 -5px 0 rgba(0, 0, 0, .1);
width: 1080px;
}

a {
    text-decoration: none;
    color:#000000;
}

a:hover {
    text-decoration:none;
}

.LinkButton {
  background:#000000;
  border-style: solid;
  border-width : 1px 30px 1px 30px;
  border-radius: 5px;
  text-decoration : none;
  padding : 4px;
  border-color : #000000;
  color: #FFFFFF;
  text-align: center;

}


.LinkButton:hover {
  background: #FFFFFF; 
  color: #000000;
  text-decoration: none;
  border-color: #FFFFFF
  
}


.LinkButton:active {
    position:relative;
    left:5px;
}

.LinkButton1 {
  background:#000000;
  border-style: solid;
  border-width : 20px 30px 20px 30px;
  border-radius: 5px;
  text-decoration : none;
  padding : 4px;
  border-color : #000000;
  color: #FFFFFF;
  text-align: center;
  
}

.LinkButton1:hover {
  background: #FFFFFF; 
  color: #000000;
  text-decoration: none;
  border-color: #FFFFFF 
}


.LinkButton2 {
  background:#000000;
  border-style: solid;
  border-width : 1px 1px 1px 1px;
  border-radius: 5px;
  text-decoration : none;
  padding : 4px;
  border-color : #000000;
  color: #FFFFFF;
  text-align: center;

}


.LinkButton2:hover {
  background: #FFFFFF; 
  color: #000000;
  text-decoration: none;
  border-color: #FFFFFF
  
}


.LinkButton2:active {
    position:relative;
    left:5px;
}

.videoButton {
  background:#FF9933;
  border-style: solid;
  border-width : 1px 30px 1px 30px;
  border-radius: 5px;
  text-decoration : none;
  padding : 4px;
  border-color : #FF9933;
  color: #FFFFFF;
  text-align: center;
}

.videoButton:hover {
  background: #FFFFFF; 
  color: #000000;
  text-decoration: none;
  border-color: #FFFFFF
}

.navButton {
   background-color:#663333;
    border-style: solid;
    border-width : 1px 1px 1px 1px;
    border-color:#663333; 
    color:#ffffff;
}

.navButton:hover {
    background-color:#000000;
    border-style: solid;
    border-width : 1px 1px 1px 1px;
    border-color:#FFFFFF;
    
}

.dropdown-menu.a:hover {
    background-color:#000000;
}

.navButton:active {
    background:#FFFFFF;
}

.navigationBar {
    background:#663333;
    border-radius:5px;
    border-color:#663333;
    color:#ffffff;    
}

.alignright {
    float:right;
}

.aligncenter {
    float:center;
}

.modal-body .pull-left {
    padding:1em;
}

.modal-body .pull-right {
    padding:1em;
}

.modal-footer {
    clear:both;
}

.buttonMaegin {
    margin-top:25px;
}

.logoMargin {
    margin-top:3px;
}

.userMargin {
     margin-top:40px;
     margin-right:40px;
}

.curvedBorder {
    border: 2px solid white;
    border-radius: 10px;
    padding:5px;
    background:#CD853F; 
}

.inner {
    margin-left:10px;
    margin-right:10px;
}

.curvedBorder2 {
    border: 2px solid white;
    border-radius: 10px;
    padding:5px;
    background:#99CCFF; 
}

.curvedBorder3 {
    border: 2px solid white;
    border-radius: 10px;
    padding:5px;
    background:#00BFFF; 
}

.curvedBorder1 {
    border: 2px solid white;
    border-radius: 10px;
    padding:5px;
    background:#CD853F;
    width:980px;
}

.thumbnailMargin {
    margin-right:40px;
}


.carousel.fade {
  opacity: 1;
}
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:1;
}
.carousel.fade .item:first-child {
  top:auto;
  position:relative;
}
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:2;
}

#horses img{
    border:10px solid black;
}

#testimonials img {
float: left;
border-width: 1em;
border-style: groove;
border-color: #000000;
border-radius:15px;
}

#testimonials {
    background-color:#ffffff;
    border:3px solid white;
    border-radius:15px;
}

.testimonials.textBorder {
    border: 3px solid white;
    background:#ffffff;
    padding:5px;
    border-radius:15px;
    float:right;
    width:410px;
    height:200px;
}

#testimonials .carousel-control.left, .carousel-control.right {
    background-image: none
}

#myCarousel .carousel-control.left {
    background-image: none;
    
   
    width:0px;
    
}

#myCarousel .carousel-control.right {
    background-image: none;
    
   
    width:0px;
    
}

